body{

    background-color: rgb(162, 229, 241);

    .painel{
    
        margin: auto;  /*centraliza o painel*/
        width: 400px;  /*define o largura do painel*/
        height: 200px;  /*define o altura do painel*/
        background-color: white;  /*cor de fundo*/
        border-radius: 30px;   /*arredonda as bordas*/
        text-align: center;   /*centraliza o texto*/
        padding-top: 50px; /*define o espaçamento do topo*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow'; /*define a fonte do texto*/

    }
    #btnSim{


        background-color: white; /*define a cor de fundo do botão*/
        color: black; /*define a cor do texto*/
        border-radius: 10px; /*arredonda as bordas do botão*/
        width: 80px; /*define o tamanho do botão*/
        height: 35px; /*define o tamanho do botão*/
        font-size: 20px; /*define o tamanho da fonte*/
        margin-right: 100px; /*define o espaçamento da direita*/
    }

    #btnNao{

        position: absolute;
        background-color: white; /*define a cor de fundo do botão*/
        color: black; /*define a cor do texto*/
        border-radius: 10px; /*arredonda as bordas do botão*/
        width: 80px; /*define o tamanho do botão*/
        height: 35px; /*define o tamanho do botão*/
        font-size: 20px; /*define o tamanho da fonte*/
    }


}
